<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="userForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="firstName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
                            Nom is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="lastName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
                            Prénom is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="userForm.get('birthDate')?.hasError('required')">
                            Please select date de naissance
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date d'initialisation</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="startDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="userForm.get('startDate')?.hasError('required')">
                            Please select date d'initialisation
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Adresse</mat-label>
                        <input matInput formControlName="address" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
                        <mat-error *ngIf="userForm.get('address')?.hasError('required')">
                            Adresse is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Num telephone</mat-label>
                        <input matInput formControlName="phoneNumber" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                        <mat-error *ngIf="userForm.get('phoneNumber')?.hasError('required')">
                            Num telephone is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Num telephone secondaire</mat-label>
                        <input matInput formControlName="phoneSecondary" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                        <mat-error *ngIf="userForm.get('phoneSecondary')?.hasError('required')">
                            Num telephone secondaire is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Role</mat-label>
                      <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
            </div>
            <div class="row" *ngIf="dialogTitle !== 'Edit User'">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" type="password" required>
                  <mat-icon matSuffix>lock_outline</mat-icon>
                  <mat-error *ngIf="userForm.get('password')?.hasError('required')">Password is required</mat-error>
                </mat-form-field>
                                
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword" type="password" required>
                  <mat-icon matSuffix>lock_outline</mat-icon>
                  <mat-error *ngIf="userForm.hasError('passwordsNotMatch')">Passwords do not match</mat-error>
                </mat-form-field>
              </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Position</mat-label>
                        <textarea matInput formControlName="position"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" align="end">
                        <button mat-raised-button color="primary" [disabled]="!userForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>