<div class="board">
    <div class="list">

        <!-- <div class="header">
      <div class="title">
       <h2>
          <ng-container [ngSwitch]="list.key">
            <ng-container *ngSwitchCase="'NEWPROJECTS'">New Projects</ng-container>
            <ng-container *ngSwitchCase="'RUNNING'">Running</ng-container>
            <ng-container *ngSwitchCase="'ONHOLD'">On Hold</ng-container>
            <ng-container *ngSwitchCase="'FINISHED'">Finished</ng-container>
          </ng-container>
        </h2> 
        <div class="count">{{ $any(list).value.length }}
          {{ $any(list).value.length | pluralize: 'project':'projects':'projects' }}
        </div>
      </div>
    </div> -->

        <ul class="projects" id="projects" cdkDropList (cdkDropListDropped)="drop($event)" *ngFor="let team of $any(listsTeam).teams">


            <li class="project" (dblclick)="editTeamDialog(team)">

                <h4 class="project-title"><span class="fas fa-users">
          </span> {{" Team n° : "+team.id }}</h4>
                <small class="block text-ellipsis m-b-15">
          <!-- <span class="text-xs">{{ getUsersLength(team) }}</span> <span class="text-muted"> membres </span> -->
        </small>
                <!-- <span class="project-bedge project-type-{{ project.type }}">
          <div class="pro-left ">
            <ng-template [ngIf]="project.type === 'Website'">Website</ng-template>
            <ng-template [ngIf]="project.type === 'Android'">Android</ng-template>
            <ng-template [ngIf]="project.type === 'IPhone'">IPhone</ng-template>
            <ng-template [ngIf]="project.type === 'Testing'">Testing</ng-template>
          </div>
        </span> -->
                <div class="project-members m-b-15">
                    <ul class="team-members">
                        <li class="dropdown avatar-dropdown">
                            <div class="row">
                                <div class="col-5 pro-left mb-2">Name Team :</div>
                                <div class="col-7 pro-left mb-2">{{ team.nameTeam}}</div>
                                <div class="col-5 pro-left mb-2">Crée le :</div>
                                <div class="col-7 pro-left mb-2"> <span class="material-icons-outlined project-icon2">
                    date_range
                  </span>{{ team.createdOn | date}}</div>
                                <div class="col-5 pro-left mb-2">Responsable Team:</div>
                                <div class="col-7 pro-left mb-2">{{ team.user.firstName + " "+ team.user.lastName}}</div>
                                <div class="col-5 pro-left mb-2">Statut Team :</div>
                                <div class="col-7 pro-lef mb-2 project-priority--1">
                                    <ng-template [ngIf]="team.archive === false?1:0"><span class="material-icons-outlined project-icon">
                    </span>Active</ng-template>
                                </div>
                                <!-- <div class="col-5 pro-left mb-2">Deadline:</div>
                <div class="col-7 pro-left mb-2">
                  <div class="deadline" *ngIf="project.deadline">
                    <span class="material-icons-outlined project-icon2">
                      date_range
                    </span>{{ project.deadline | date }}
                  </div>
                </div> -->
                                <!-- <div class="col-5 pro-left mb-2">Comments:</div>
                <div class="col-7 pro-left mb-2">{{ project.comments }}</div>
                <div class="col-5 pro-left mb-2">Bug:</div>
                <div class="col-7 pro-left mb-2">{{ project.bugs }}</div> -->
                                <div class="col-5 pro-left mb-2">Membres:</div>
                                <div class="col-7 pro-left" *ngIf="team?.userList != null">
                                    <ul class="list-unstyled order-list" *ngFor="let us of listUser">
                                        <li class="avatar avatar-sm" *ngIf="us.teamUser.id === team.id"><img src="assets/images/user/user{{us.teamUser.id}}.jpg" alt="user" class="rounded-circle"> {{us.firstName}} {{us.lastName}} </li>
                                    </ul>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <p class="m-b-5">Progress <span class="text-success float-end">{{ project.progress }}%</span></p>
        <div class="progress progress-xs mb-0">
          <mat-progress-bar mode="determinate" value="{{ project.progress }}"></mat-progress-bar>
        </div> -->
                <button mat-icon-button class="project-actions" [matMenuTriggerFor]="menu" (dblclick)="null">
          <mat-icon>more_vert</mat-icon>
        </button>
                <mat-menu #menu="matMenu" class="project-actions-menu">
                    <button mat-menu-item (click)="editTeamDialog(team)">
            <mat-icon>edit</mat-icon>
            <span>Edit Team</span>
          </button>
                    <button mat-menu-item (click)="removeTeam(team)">
            <mat-icon>delete</mat-icon>
            <span>Delete Team</span>
          </button>
                    <button mat-menu-item (click)="Adduser(team)">
            <mat-icon>delete</mat-icon>
            <span>Add Users</span>
          </button>
                </mat-menu>
            </li>

        </ul>

    </div>

</div>